* {
	box-sizing: border-box;
}

.button-row {
	margin-bottom: 2px;
	display: flex;
	gap: 2px;
}

.button-row button {
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
}

.bigger {
	font-size: 140%;
}