.calc {
	border: 2px solid black;
	height: 50vh;
	display: grid;
	grid-template-rows: 1.5em 2em 4em 1fr;
	width: fit-content;
}

.calc header {
	text-align: center;
}

.equation-display,
.main-display {
	padding-inline-end: 0.3em;
	display: flex;
	align-items: center;
	justify-content: end;
}

.equation-display {
	/* border: 2px solid blue; */
	color: #777;
}

.main-display {
	/* border: 2px solid red; */
	font-size: 150%;
}

.operations-container {
	display: flex;
}

.basic-operations,
.scientific-operations {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
}

.basic-operations {
	/* border: 2px solid green; */
	flex: 4 0;
	grid-template-columns: repeat(4, 1fr);
}

.scientific-operations {
	flex: 6 0;
	grid-template-columns: repeat(6, 1fr);
	/* border: 4px green dotted; */
}

.calculator-button {
	/* width: 100%; */
	width: 4em;
	height: 4em;
	border-radius: 10%;
	background-color: #444;
	color: #ffffff;
}

.basic-operator {
	background-color: rgb(252, 180, 47);
}

.basic-header {
	background-color: #999;
}
