#box {
	padding: 15px;
}

.box-style {
	background-color: chartreuse;

	/* border is a roll-up property */
	border: 2px green solid;

	/* border rolls up these declarations */
	/*
	border-width: 2px;
	border-color: black;
	border-style: solid;
	*/
}